 <div class="content">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3>
                关于我们
            </h3>
            <div class="tabbable" id="tabs-890603">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a rel="nofollow" href="#panel-1" data-toggle="tab">产生背景</a>
                    </li>

                    <li>
                        <a rel="nofollow" href="#panel-2" data-toggle="tab">发展历程</a>
                    </li>
                    <li >
                        <a rel="nofollow" href="#panel-3" data-toggle="tab">研究方向与功能</a>
                    </li>                    
                    <li >
                        <a rel="nofollow" href="#panel-4" data-toggle="tab">主办与共建</a>
                    </li> 
                    <li >
                        <a rel="nofollow" href="#panel-5" data-toggle="tab">战略定位</a>
                    </li>                     
                    <li >
                        <a rel="nofollow" href="#panel-6" data-toggle="tab">页面设计理念</a>
                    <li >
                        <a rel="nofollow" href="#panel-7" data-toggle="tab">栏目介绍</a>
                    </li>
                    </li>   
                    <li >
                        <a rel="nofollow" href="#panel-8" data-toggle="tab">网站声明</a>
                    </li>                                                 
                </ul>
                <div class="tab-content tab-padding">
                    <div class="tab-pane active" id="panel-1">
                        <p>
                            大学文化传承创新研究基地是依托于河北大学成立的，经河北省教育厅确认成立的高端文化智库。该平台致力于推动河北省高校大学文化传承与创新的建设工作，建立全面的文化建设案例数据库，为高校提供文化决策咨询服务，建立高校文化治理的新模式。
                        </p>
                        
                    </div>
                    <div class="tab-pane" id="panel-2">
                        <p>
                            河北大学开展大学文化与大学精神理论实践研究始于20世纪80年代，至90年代初，对大学精神的研究已经提高到了重要位置。
2011年，大学文化建设与社会影响力工程被列为学校重点建设项目，并依托党委宣传部开展理论与实践研究，全面纵向推进大学文化建设相关工作。
2012年11月，河北大学成为“中西部高校提升综合实力”入选高校，大学文化建设工程列入提升综合实力建设“六大工程”，并进行重点建设，大学文化建设取得丰硕成果。
2014年10月，经河北省教育厅确认，河北省高等学校人文社会科学重点研究基地——大学文化传承创新基地落户河北大学，成为推进地方高校大学文化传承与创新各项工作一个新型智库平台。作为一个新型智库平台，大学文化传承与创新基地已成为推动河北省高校大学文化传承与创新各项工作的思想库、人才库和智囊团。
大学文化传承创新研究基地以服务河北文化战略需求为己任，致力于开展大学文化传承与创新的理论研究、工作调研、政策评估等，以此来助推河北省高校大学文化建设不断发展、进步。
                        </p>
                    </div>
                    <div class="tab-pane" id="panel-3">
                        <p>
                           当前研究方向主要有大学文化建设与高校意识形态安全研究、大学精神传承创新研究、中外大学文化建设比较研究、校园文化创意与传播研究、河北高校文化品牌研究。
                        </p>
                    </div>  
             
                <div class="tab-pane" id="panel-4">
                    <p>
                        河北大学与教育部社科中心文化美育处、北京航空航天大学北航文化与艺术传播研究院、燕山大学党委宣传部、河北工程大学党委宣传部、河北师范大学党委宣传部等签署合作协议，建立了合作共建机制、研究交流制度、首席专家制度、合作调研制度等，逐步强化研究方向和研究特色，以此形成了以刘焱教授为首席专家主任负责的大学文化建设与高校意识形态安全研究、大学精神传承创新研究、中外大学文化建设比较研究、校园文化创意与传播研究、河北高校文化品牌研究等5个稳定的基地研究方向。
                    </p>
                </div>                
                <div class="tab-pane" id="panel-5">
                    <p>
                        <ol>
                            <li>文化领域学术前沿的观察者、意见领袖。</li>
                            <li>立足河北、辐射京津冀周边的文化交流、研讨与培训平台。</li>
                            <li>地方高校“大学文化建设”学术研究品台与综合创新方案提供者。</li>
                            <li>区域（县域）文化治理的综合解决方案提供者。</li>
                            <li>县域文化产业资源整合与服务平台。</li>
                        </ol>
                    </p>
                </div>                    
                <div class="tab-pane" id="panel-6">
                    <p>智库设计彰显文化元素</p>
                </div>                    
                <div class="tab-pane" id="panel-7">
                    <p></p>
                </div>      
                <div class="tab-pane" id="panel-8">
                    <p></p>
                </div>                                  
            </div>
        </div>
    </div>
</div>
</div>
</div>