<div class="foot">
    <div class="links">
        <table>
            <tr>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
            </tr>

            <tr>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
            </tr>
            <tr>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
            </tr>
            <tr>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
                <td>友情链接</td>
            </tr>
        </table>
    </div>
    <div class="copyright">
        <p>国务院发展研究中心信息中心版权所有 京ICP备15003855号-1
    地址：北京市东城区朝阳门内大街225号 邮编：100010 电话：010-65237202 电子邮箱：<span class="this"> service@chinathinktanks.org.cn</span></p>
        </div>
        <div class="powerby">
        
     </div>
</div>