
<div class="header">
    <div class="title">智库的名字</div>
    <div class="logo">logo</div>
</div>
<div class="menuDiv">
       <ul>
            <li>
                <a href="index.php">智库首页</a>
                <ul>
                    <li><a href="#">二级菜单</a></li>
                    <li><a href="#">二级菜单</a></li>
                    <li><a href="#">二级菜单</a></li>
                </ul>
            </li> 
            <li>
                <a href="team.php">研究团队</a>
                <ul>
                    <li><a href="#">二级菜单</a></li>
                    <li><a href="#">二级菜单</a></li>
                </ul>
            </li> 
            <li>
                <a href="research.php">研究成果</a>
                <ul>
                    <li><a href="#">文化热点</a></li>
                    <li><a href="#">案例研究</a></li>
                </ul>
            </li> 
            <li>
                <a href="about.php">关于我们</a>
                <ul>
                    <li><a href="#">智库核心</a></li>
                    <li><a href="#">研究人员</a></li>
                </ul>                
            </li> 
            <li>
                <a href="zhikus.php">中外智库</a>
                <ul>
                    <li><a href="#">二级菜单</a></li>
                    <li><a href="#">二级菜单</a></li>
                    <li><a href="#">二级菜单</a></li>
                </ul>
            </li> 
        </ul>
</div>