<div class="content">
    <div class="wraper">
        <ul>
            <li>
                <h3>智库核心</h3>
                <p>
                    刘焱，男，中共党员，汉族，邯郸市临漳县人，管理学博士，教授，河北大学创新创业中心主任，保定市委宣传部“特聘宣讲员”。多年来，他长期从事思想政治教育与大学文化建设工作，主持河北大学“大学文化建设与社会影响力项目”，主持河北大学“中西部高校提升综合实力之大学文化建设工程”项目的制定与实施工作。
                </p>
                <p>
                    曾获评河北省高校思想政治工作先进个人称号。主持多项思政教育研究项目，分获2004年度河北省思政工作创新奖一等奖，2008年度河北省高校思政创新奖三等奖，2012年度河北省高校思政创新案例二等奖。承担“应用型社会科学研究成果评价与转化机制研究”、“当代大学生社会角色转变研究”、“以社会主义核心价值体系引领社会思潮研究”等多项国家级、省部级科研项目。发表《研究生教育质量影响因素实证研究——以河北省五所高校为例》、《基于内容分析的国内研究生教育质量影响因素研究》等多篇学术论文，其中《推动河北省国家助学贷款，建立大学生个人信用评价体系研究》获评保定市第九届社会科学成果三等奖。出版思政著作《延安精神大学生读本》（河北人民出版社2013年）、《科技与教育管理的探索与研究—研究生教育质量管理协同度测度研究》（知识产权出版社2013年）。
                </p>
            </li>
            <li>
                <h3>相关研究人员</h3>
                <p>
                    田海舰、柴素芳、田瑞兰、王新华、王定毅
                </p>
            </li>
            <li>
                <h3>智库研究人员情况</h3>
                <p>
                    基地十分注重研究队伍的建设，目前研究基地已经拥有了一支团结拼搏、科研能力强、结构合理的学术队伍，科研队伍数量较充足、结构趋于合理，发展趋势好，其中有正高职称20人，副高职称8人，讲师4人，博士17人，硕士15人，基本满足大学文化传承创新研究基地的需要。
                </p>
            </li>
        </ul>

 
    </div>
</div>
